{{ if .Site.Data.homepage.education.enable }}
<section id="trajetoria" class="section section--border-bottom rad-animation-group">
    <div class="container">
        <h2 class=" rad-animation-group rad-fade-down">
            {{ .Site.Data.homepage.education.title }}
          </h2>
          <div class="row row--padded rad-animation-group rad-fade-down">
            <div class="col-12">
                <a>
                    <img 
                      class="lozad img-responsive"
                      src="img/icones/blank.png"
                    />
                  </a>
                  <a>
                    <img 
                      class="lozad img-responsive"
                      src="img/icones/blank.png"
                    />
                  </a>
                  <a href="https://www.movimentochoice.com">
                    <img 
                      class="lozad img-responsive"
                      src="img/icones/choice.png"
                    />
                  </a>
                  <a>
                    <img 
                      class="lozad img-responsive"
                      src="img/icones/blank.png"
                    />
                  </a>
                    <a href="https://movimentoacredito.org">
                      <img
                        class="lozad img-responsive"
                        src="img/icones/acredito.png"
                      />
                    </a>
                    <a>
                        <img 
                          class="lozad img-responsive"
                          src="img/icones/blank.png"
                        />
                      </a>
                    <a href="https://vamosjuntasnapolitica.com">
                      <img
                        class="lozad img-responsive"
                        src="img/icones/vamosjuntas.png"
                      />
                    </a>
                    <a>
                        <img 
                          class="lozad img-responsive"
                          src="img/icones/blank.png"
                        />
                      </a>
                    <a href="https://renovabr.org">
                      <img
                        class="lozad img-responsive"
                        src="img/icones/renova.png"
                      />
                    </a>
                    <a>
                        <img 
                          class="lozad img-responsive"
                          src="img/icones/blank.png"
                        />
                      </a>
                    <a href="http://oneyoungworld.com">
                      <img
                        class="lozad img-responsive"
                        src="img/icones/young.png"
                      />
                    </a>
                    <a>
                        <img 
                          class="lozad img-responsive"
                          src="img/icones/blank.png"
                        />
                      </a>
                    <a href="https://www.politize.com.br">
                      <img
                        class="lozad img-responsive"
                        src="img/icones/politize.png"
                      />
                    </a>
                    <a>
                        <img 
                          class="lozad img-responsive"
                          src="img/icones/blank.png"
                        />
                      </a>
                  </div>
        <div class="row rad-fade-down">
            <div class="col-12">
                <div class="row pt-2 pt-md-4">
                    {{ range .Site.Data.homepage.education.items }}
                    <div class="col-12 col-sm-6 mb-4 mb-sm-0">
                        <div class="education" id="trajetoria">
                            <div class="education__date">{{ .year }}</div>
                            <div class="education__title">{{ .university }}</div>
                            <div class="education__degree">
                                {{ .degree }}
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
